---
---

// (Your custom CSS Here)

a#forkme_banner {display:none;}ul li {padding-left: 0;background: none;}

header span.ribbon-inner {text-align: center;}

.before-title {color: #ece4d8;
    font-weight: 600;
    background-color: #7c334f;
    text-transform: lowercase;
    font-style: oblique;
    padding-top: 0.5em
}

ul {
    list-style: outside url("https://www.drmartinsbbq.com/assets/images/steak.svg") no-repeat;
}

footer span.ribbon-inner a {
    line-height: 2;
}
