---
---

// (Your custom CSS Here)
a#forkme_banner {display:none;}
header span.ribbon-inner {text-align: center;}
.before-title {
    color: #ece4d8;
    font-weight: 600;
    background-color: #7c334f;
}
